body {
	background: linear-gradient(270deg, #3ca388, #444fa3, #8144a3);
	background-size: 600% 600%;
	-webkit-animation: AnimationName 7s ease infinite;
	-moz-animation: AnimationName 7s ease infinite;
	-o-animation: AnimationName 7s ease infinite;
	animation: AnimationName 7s ease infinite;
}

.new-body {
	padding: 50px;
}

.nav {
	font-family: 'Open Sans',Arial,Helvetica Neue,sans-serif;
	text-transform: uppercase;
    line-height: 0.8;
    letter-spacing: 2px;
    font-weight: 300;
}

.row {
	padding-top: 0;
	padding-bottom: 40px;
}

.notif {
	position: fixed;
	top: 60px;
	left: 50px;
	right: 50px;
	display: none;
	z-index: 9999;
	opacity: 0.95;
}

.starter-template {
	padding:  10px 15px;
	text-align: center;
}

.profile {
	margin-top: 50px;
}

.starter-template h1 {
	font-family: 'Open Sans',Arial,Helvetica Neue,sans-serif;
	width: 100%;
    font-size: 25px;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 3px;
    font-weight: 300;
    color: #FFFFFF;
    padding: 10px;
}

.starter-template p {
	font-family: 'Open Sans',Arial,Helvetica Neue,sans-serif;
	width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 3px;
    font-weight: 300;
    color: #FFFFFF;
}

.logo {
	font-size: 200px;
	color: #FFFFFF;
}


.center-search-bar {
	padding: 10px;
	width: 65%;
	margin-left: auto;
	margin-right: auto;
}

.vertical-center {
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.new-item {
	font-size: 100px;
	color: #FFFFFF;
	padding-bottom: 50px;
	padding-top: 25px;
}

.add-item {
	font-size: 25px;
	color: #FFFFFF;
}

.glyphicon-plus, .glyphicon-minus {
	font-size: 30px;
	cursor: pointer;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	/* ...and now for the proper property */
	transition:.5s;
}

.glyphicon-plus:hover, .glyphicon-minus:hover {
	color: #1ABC9C;
}

.item-form {
	padding-top: 15px;
}

.radio {
	text-align: left;
}

.checkbox {
	text-align: left;
}

table {
	*border-collapse: collapse;
	border-spacing: 0;
}

.table {
	font-family: 'Open Sans',Arial,Helvetica Neue,sans-serif;
	line-height: 0.8;
    letter-spacing: 1.5px;
    font-weight: 300;
	text-align: left;
	width: 1000px;
	margin: auto;
	border: none;
}

.table-header {
	background: #1ABC9C;
	color: #FFFFFF;
}

tbody {
	background: #FFFFFF;
}

thead tr:first-child th:first-child {
    border-radius: 0.6em 0 0 0;
}
/* the last 'th' within the first 'tr' of the 'thead': */
thead tr:first-child th:last-child {
    border-radius: 0 0.6em 0 0;
}
/* the first 'td' within the last 'tr' of the 'tbody': */
tbody tr:last-child td:first-child {
    border-radius: 0 0 0 0.6em;
}
/* the last 'td' within the last 'tr' of the 'tbody': */
tbody tr:last-child td:last-child {
    border-radius: 0 0 0.6em 0;
}

/* SCROLL TOP BUTTON */

.scroll-top-wrapper {
    position: fixed;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
	color: #ECF0F1;
	line-height: 48px;
	width: 70px;
	height: 65px;
	right: 20%;
	bottom: 30px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	color: #16A085;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper span.fa {
	line-height: inherit;
}

.scroll {
	font-size: 50px;
}

.actorLink, .movieLink, .movie_page_link, .actor_page_link {
	cursor: pointer;
}

#actor {
	display: none;
}
#director {
	display: none;
}
#movie {
	display: none;
}
#relation {
	display: none;
}
#movie_actor_div {
	display: none;
}
#movie_director_div {
	display: none;
}


/********************** Animations *************************/

.m-scene .scene_element {
  /** Basic styles for an animated element */
    animation-duration: 0.5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;

}

.m-scene .delay1 {
	animation-delay: 0.15s;
}
.m-scene .delay2 {
	animation-delay: 0.30s;
}
.m-scene .delay3 {
	animation-delay: 0.45s;
}


  /** An element that fades in */
.m-scene .scene_element--fadein {
    animation-name: fadeIn;
}

.m-scene .scene_element--fadeinup {
    animation-name: fadeInUp;
}

.m-scene &.is-exiting .scene_element {
	animation-direction: alternate-reverse;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}